@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  /* border: 0.1rem solid red; */
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--eye-ball);
}

:root {
  --lead: #212121;
  --gold-finger: #f2bd12;
  --eye-ball: #fffdf7;
  --hint-yellow: #fcf1cc;
  --pure-white: #fff;
}

/* basic styling */

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--lead);
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
li {
  list-style: none;
}
.between {
  justify-content: space-between;
}
.gap-3 {
  gap: 3rem;
}
.gap-2 {
  gap: 2rem;
}
.wrapper {
  max-width: 1400px;
  margin: auto;
  padding-inline: 1.5rem;
}
.m-one-half {
  margin-top: 1.5rem;
}

/* Header Styling */

.navbar {
  min-height: 14vh;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--gold-finger);
}
.btn {
  display: inline-block;
  padding: 0.9rem 2rem;
  font-size: 1.1rem;
  background-color: var(--gold-finger);
  border-radius: 1rem;
  color: var(--pure-white);
  box-shadow: rgba(0, 0, 0, 0.141) 0px 2px 1px;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--lead);
}
.card-icon {
  color: var(--lead);
  font-size: 1.4rem;
  position: relative;
}
.card-icon .card-values {
  position: absolute;
  top: 50%;
  right: -10px;
  font-size: 0.85rem;
  width: 20px;
  background: var(--gold-finger);
  aspect-ratio: 1;
  border-radius: 100vw;
  text-align: center;
  line-height: 20px;
}

.desktop-action.hamburger {
  font-size: 1.5rem;
  display: none;
}

.mobile-menu {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
.p-top {
  padding-top: 15rem;
}
.text-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}
/* Section Styling */

/* Hero Styling */
.hero-section {
  min-height: calc(100vh - 14vh);
}
.content,
.image-container,
.service-card {
  flex: 1;
  flex-basis: 300px;
}

h1 {
  font-size: 5.6vw;
  color: var(--lead);
}
h1 span {
  color: var(--gold-finger);
}

p {
  font-size: 1.25rem;
  color: gray;
  line-height: 1.8rem;
  font-weight: 400;
}
.para {
  margin-block: 1.5rem;
  max-width: 550px;
}
.social-icon {
  background-color: var(--hint-yellow);
  width: 3rem;
  aspect-ratio: 1;
  font-size: 1.2rem;
  border-radius: 1rem;
  text-align: center;
  line-height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.514) 0px 2px 1px;
  transition: 0.3s ease-in-out;
}
.social-icon:hover {
  color: var(--pure-white);
  background-color: var(--lead);
}

/* section 01 */

h5 {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: var(--gold-finger);
  text-transform: uppercase;
}
h2 {
  font-size: 3.7rem;
  /* text-transform: capitalize; */
  color: var(--lead);
}
h3 {
  font-size: 2rem;
  color: var(--lead);
}
.service-card h3 {
  margin-block: 1.5rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-half {
  margin-top: 0.5rem;
}
/* Section 02 */

.order-cart {
  background: var(--pure-white);
  border: 0.2rem solid var(--gold-finger);
  border-radius: 1rem;
  flex: 1;
  flex-basis: 300px;
  padding: 0rem 1rem 2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
}
.order-cart img {
  width: 15rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.393) 0 10px 10px);
}
h4 {
  font-size: 1.8rem;
  color: var(--lead);
}
.order-cart .price {
  font-size: 1.7rem;
  color: var(--gold-finger);
  padding: 1.3rem 0rem 1rem 0rem;
}

/* section 03 */

.swiper {
  width: 100%;
  height: 100%;
}

.review-container {
  width: 650px;
  max-width: 100%;
  flex: 1;
}

.profile {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  overflow: hidden;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fa-star {
  color: var(--gold-finger);
}

.arrow {
  width: 5rem;
  aspect-ratio: 1;
  background: var(--gold-finger);
  color: var(--lead);
  display: flex; /* for centering */
  justify-content: center;
  align-items: center;
  line-height: 20px;
  border-radius: 50%; /* optional: round shape */
}

/* cart tab */
.cart-tab {
  background-color: var(--hint-yellow);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transform: translateX(100%);
  box-shadow: rgba(0, 0, 0, 0.106) -10px -10px 20px;
  transition: 0.5s ease-in-out;
}

.cart-tab-active{
  transform: translateX(0);
}
.cart-list {
  flex: 1;
  width: 100%;
  margin-top: 1.5rem;
  overflow: auto;
}
.cart-list::-webkit-scrollbar {
  width: 0;
}
.cart-list .item:nth-child(even) {
  background-color: var(--eye-ball);
}
.total-container {
  width: 100%;
  background: var(--gold-finger);
  text-align: center;
}
.total-container h4 {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn-container .btn {
  background-color: var(--lead);
  transition: 0.3s ease-in-out;
}

.btn-container .btn:hover {
  background-color: var(--gold-finger);
  color: var(--lead);
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem 1rem;
  transition : all 0.5s ease-in-out;
}

.item.slide-out{
  transform: translateX(50%);
}


.item .detail{
  flex:2;
}

.item .item-total {
  font-weight: 400;
  margin-top: 0.3rem;
}
.quantity-btn {
  background-color: var(--lead);
  color: var(--pure-white);
  width: 1.7rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  text-align: center;
  line-height: 1.7rem;
}
.quantity-value {
  font-size: 1.2rem;
  font-weight: 400;
  margin-inline: 0.6rem;
}

.item h4 {
  font-size: 1.3rem;
  color: var(--lead);
}
.item .image-container {
  width: 5rem;
  flex: 0 0 5rem;
}
/* section 04 */

.app-container {
  background: var(--hint-yellow);
  padding: 3rem 6rem;
}

.app-container img {
  width: 25rem;
}

.app-container h2 {
  font-size: 4.5rem;
}

/* section 05 */

.input-container {
  width: 43rem;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(15, 0, 0, 0.5);
  padding: 0.6rem;
}
input[type="email"] {
  flex: 1;
  height: 5vh;
  /* background: transparent; */
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
input[type="email"]:focus {
  outline: none;
}

/* footer styling */
.footer-container {
  margin-top: 10rem;
  padding-block: 4rem;
  background: var(--hint-yellow);
}

/* media Query */
@media screen and (max-width: 780px) {
  /* header styling */
  .navlist,
  .desktop-action .btn {
    display: none;
  }
  .desktop-action.hamburger {
    display: block;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 30%;
    left: -100%;
    width: 20rem;
    padding: 2rem;
    background-color: var(--pure-white);
    transform: translateX(-50%);
    border: 0.1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
      rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
    /* transition: 0.5s ease-in-out; */
  }
  .mobile-menu-active {
    left: 50%;
    transform: translateX(-50%);
  }

  /* Section styling */
  /* Hero Styling */
  h1 {
    font-size: 3.6rem;
  }
  .content {
    padding-top: 3rem;
  }
  .gap-2 {
    gap: 0.5rem;
  }
  .gap-4 {
    gap: 4rem;
  }
}

/* section-01 */
h2 {
  font-size: 2rem;
}

/* section-04 */
.app-container {
  padding: 2.2rem;
}
.app-container .content h2 {
  font-size: 2.5rem;
}
.footer-wrapper {
  flex: 1;
}
.footer-container .flex {
  align-items: flex-start;
}
.footer-wrapper:nth-child(1) {
  flex: 2;
}
.footer-wrapper .social-icon {
  background-color: var(--pure-white);
}
.footer-wrapper .social-icon:hover {
  background: var(--lead);
  color: var(--pure-white);
}
.footer-link {
  color: grey;
  font-size: 1.1rem;
}
.footer-link:hover {
  color: var(--lead);
}
